*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    .info,.date{
        height: 20%;
        font-size: 2rem;
        justify-content: center;
        display: flex;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .timer{
        margin-top: 10%;
        height: 30vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        .time_boxex{
            text-align: center;
            height: 100px;
           
            input{
                padding: 1rem;
                border: none;
                outline: none;
                width: 100px;
                margin: 0 0 12px 0;
                font-size: 2rem;
                text-align: center;
            }
            label{
                padding-top: 4rem;
                font-size: 1.7rem;
            }
        }
    }
    
}