*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    header{
        height: 10vh;
        width: 40vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        label{
            font-size: 1.5rem;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            input{
                outline: none;
                margin-left: .3rem;
                width: 20%;
                height: 80%;
            }
        }
        button{
            color: rgb(0, 0, 0);
            border: 2px solid blue;
            background-color: antiquewhite;
            height: 50%;
            width: 40%;
            border-radius: 20px;
            transition: all 0.3s;
            cursor: pointer;
        }
        button:hover{
            transform: scale(1.1);
        }
        button:active{
            transform: scale(1);
        }
    }
    #mainbox{
       min-height: 90vh;
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       .parabox{
        width: 90%;
        text-align: justify;
        margin: .7rem 0 ;
       }
    }
}